.tablefield{
    font-size: 15px !important;
    text-align: right;
}
.header{
    text-align: right;
}
.st-emotion-cache-1n9qh9a{
    width: 60px;
}

.st-emotion-cache-x78sv8 p{
    font-size: 13px;
}